/* todo mundo */
* {
    font-family: 'Roboto', 'sans-serif';
    box-sizing: border-box;
}

body {
    background-color: rgb(184, 178, 178);
}

.content {
    padding: 1rem;
    background-color: #fff;
    height: 100vh;
    width: 100vh;


}


.content h1 {
    margin: 0;

}



@media (min-width: 992px) {
    .content {
        height: auto;
        max-width: 700px;
        margin: 1rem auto;
        border-radius: 1rem;
        /* background-color: blue; */
    }
}